/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 500px) {
  .mobileWidth {
    width: 100vw !important;
    margin: 0 !important;
    height: 100vh !important;
  }
}
.mobileWidth {
  width: 70vw;
  margin-left: 15vw;
}
